@CHARSET "UTF-8";
.mapWrapper{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: fixed;
	left: 0;
	top: 180px;
}
#siteTitle {
	position: fixed;
	width:100%;
	z-index: 99;
	border-collapse: collapse;
}
#titleTd{
	height: 50px;
	color:#66a091;
	font-size: 18pt;
	font-weight: 900;
}
#mapTd{
	background-color: #b5e3d8;
}
#map{
	width: 90%;
	height: 250px;
	box-shadow: 2px 2px 3px black;
	border-radius: 10px;
}
#roadview{
	width: 90%;
	height: 250px;
	box-shadow: 2px 2px 3px black;
	border-radius: 10px;
}
.roadviewTd{
	width: 50%;
}
#siteSM{
	position: fixed;
	width: 100%;
	transition:all 0.3s ease-out;
	top:380px;
}
#searchArea{
	height: 50px;
}
#summonSearchArea{
	cursor: pointer;
}
#loc, #what{
	width:40%;
	height:35px;
	border:#776d61 solid 2px;
	font-size: 12pt;
	text-align: center;
	font-weight: 800;
	border-radius: 10px;
}

#resultArea{
	width: 95%;
	transition:all 0.3s ease-out;
	padding-top: 300px;
	margin-left: auto;
	margin-right: auto;
}
.loc{
	width:24%;
	height:100px;
	box-shadow: 2px 2px 4px black;
	margin-bottom: 15px;
	margin-right: 15px;
	border-radius: 10px;
	border-collapse: collapse;
	font-weight: 800;
	cursor: pointer;
	background-color: white;
	float: left;
	position: relative;
}
.loc tr td{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11pt;
	height: 33%;
}
.locName{
	font-weight: 900;
	font-size: 14pt;
}